<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header %>
    </head>
    <body>
        <div class="container">
            <h1>Hello Again</h1>


            <form class="form-inline" method="POST" action="addFirstNumber">
                <div class="form-group mx-sm-3 mb-2">
                    <span>Enter the first number &nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <input type="text" class="form-control" id="number1" placeholder="Enter the number" name="number1">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Next</button>
            </form>
        </div>
    </body>
</html>