<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header %>
    </head>
    <body>
        <div class="container">
            <h1>Result Is <%= result %> </h1>
        </div>
    </body>
</html>


