<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header %>
    </head>
    <body>
        <div class="container">
            <h1>Hello Again Bro...</h1>


            <form class="form-inline" method="POST" action="addSecondNumber">
                <div class="form-group mx-sm-3 mb-2">
                    <span>Enter the second number &nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <input type="text" class="form-control" id="number2" placeholder="Enter the number" name="number2">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Next</button>
              </form>
        </div>
    </body>
</html>